# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local





# Editor directories and files
.vscode/*
!.vscode/extensions.json
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/firebase/.env
src/firebase/setup.js

.env
server/src/main/resources/application.properties
server/AllServices/src/main/resources/application.properties
server/PaymentService/src/main/resources/application.properties
server/APIGateway/src/main/resources/application.properties
server/AuthService/src/main/resources/application.properties
server/EurekaServer/src/main/resources/application.properties
server/AuthService/src/main/resources/application-docker.properties
server/AuthService/src/main/resources/application-docker.properties
server/chatservice/src/main/resources/application-prod.properties
.gitignore
server/userservice/src/main/resources/application-docker.properties
server/userservice/src/main/resources/application-prod.properties
server/AuthService/src/main/resources/application-docker.properties
server/docker-compose.local.yml
